* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

header {
  box-shadow: 0px 0px 15px 0px rgba(94, 89, 89, 0.1647058824);
}

header .container {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__link {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.5960784314);
  display: inline-block;
}

.header__link:hover {
  display: inline-block;
  font-family: Unbounded;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #A17F4A;
  transform: scale(1.1);
}

.header__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
}

.header__icon {
  width: 30px;
  height: 30px;
}

.header__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

.header__button {
  background-color: #A17F4A;
  padding: 5px 35px 5px 5px;
  border-radius: 10px;
  font-family: Inter;
  font-weight: 700;
  font-size: 19.22px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6509803922);
}

.bars {
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px 0px;
  background-color: #000000;
  border-radius: 10px;
}

.bar:nth-child(2) {
  width: 15px;
  height: 3px;
  margin: 5px 0px;
  background-color: #000000;
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .container {
    padding: 0px 20px;
  }
  header .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  header .container {
    max-width: 768px;
  }
  .header__item:nth-child(1) {
    display: none;
  }
  .header__item:nth-child(2) {
    display: none;
  }
  .header__item:nth-child(3) {
    display: none;
  }
  .header__item:nth-child(4) {
    display: none;
  }
  .header__item:nth-child(5) {
    display: none;
  }
  .bars {
    display: block;
  }
}
@media (max-width: 768px) {
  header .container {
    max-width: 390px;
  }
}
.wrap {
  margin: 20px 0px;
}

.wrap .container {
  height: 600px;
  position: relative;
  background-color: #F5EFE6;
  border-radius: 40px;
}

.wrap__text {
  padding: 70px 20px 0px;
  font-family: Unbounded;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  color: #7A5C33;
}

.wrap__title {
  padding: 30px 20px;
  font-family: Unbounded;
  font-weight: 400;
  font-size: 55px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  color: #A17F4A;
}

.wrap__subtitle {
  padding: 5px 20px;
  font-family: Unbounded;
  font-weight: 400;
  font-size: 95px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  color: #A17F4A;
}

.wrap__pic {
  position: absolute;
  left: 80px;
  top: 50px;
  max-width: 900px;
  filter: drop-shadow(5px 30px 10px #9a9aa0);
}

@media (max-width: 1440px) {
  .wrap .container {
    max-width: 1024px;
    height: 450px;
  }
  .wrap__pic {
    max-width: 650px;
    top: -10px;
    left: 40px;
  }
  .wrap__text {
    font-family: Unbounded;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
  }
  .wrap__title {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
  }
  .wrap__subtitle {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
  }
}
@media (max-width: 1024px) {
  .wrap .container {
    max-width: 768px;
    height: 380px;
  }
  .wrap__pic {
    max-width: 450px;
    top: 20px;
    left: 20px;
  }
}
@media (max-width: 768px) {
  .wrap .container {
    padding: 40px 0px;
    max-width: 390px;
  }
  .wrap__pic {
    max-width: 300px;
    z-index: 1;
  }
  .wrap__text {
    font-family: Unbounded;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    position: relative;
    z-index: 2;
  }
  .wrap__title {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    position: relative;
    z-index: 2;
  }
  .wrap__subtitle {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    position: relative;
    z-index: 2;
  }
}
.page .container {
  padding: 120px 0px;
}

.page__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.page__item {
  display: flex;
  gap: 15px;
}

.page__title {
  font-family: Unbounded;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.page__text {
  width: 250px;
  padding: 20px 0px;
  font-family: Unbounded;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #AAAAAA;
}

.page__pic {
  width: 55px;
  height: 55px;
}

@media (max-width: 1440px) {
  .page .container {
    padding-bottom: 300px;
    max-width: 1024px;
  }
  .page__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .page__list {
    gap: 5px;
  }
}
@media (max-width: 1024px) {
  .page .container {
    max-width: 768px;
  }
  .page__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .page__item:nth-child(2) {
    width: 130px;
  }
  .page__item:nth-child(3) {
    width: 170px;
  }
  .page__item:nth-child(4) {
    width: 175px;
  }
  .page__item:nth-child(2) .page__title {
    width: 120px;
  }
  .page__item:nth-child(2) .page__text {
    width: 200px;
  }
  .page__item:nth-child(4) .page__text {
    width: 200px;
  }
  .page__title {
    font-family: Unbounded;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .page__text {
    width: 225px;
  }
}
@media (max-width: 768px) {
  .page .container {
    padding: 40px 0px 120px;
    max-width: 390px;
  }
  .page__list {
    flex-wrap: wrap;
  }
  .page__item {
    padding: 20px 0px;
  }
  .page__item:nth-child(1) {
    width: 190px;
  }
  .page__item:nth-child(2) {
    width: 190px;
  }
  .page__item:nth-child(3) {
    width: 190px;
  }
  .page__item:nth-child(4) {
    width: 190px;
  }
  .page__box {
    display: flex;
    justify-content: center;
  }
  .page__title {
    width: 150px;
  }
  .page__text {
    width: 180px;
  }
  .page__item:nth-child(2) .page__title {
    width: 190px;
  }
}
.wrapper .container {
  padding: 90px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464351;
  border-radius: 30px;
  position: relative;
}

.wrapper__rigth {
  width: 450px;
}

.wrapper__title {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 40px 0px;
}

.wrapper__text {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 0px 0px;
}

.wrapper__subtitle {
  font-family: Unbounded;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 20px 0px;
}

.wrapper__subtext {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 0px 0px 40px;
}

.wrapper__link {
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #fff;
  padding: 10px 30px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12.47px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

.wrapper__link:hover {
  background-color: #464351;
  border: 2px solid #fff;
  color: #fff;
}

.wrapper__pic {
  position: absolute;
  left: 300px;
  top: -100px;
}

@media (max-width: 1440px) {
  .wrapper .container {
    max-width: 1024px;
    height: 550px;
    display: flex;
    align-items: end;
  }
  .wrapper__pic {
    top: -270px;
    left: 120px;
  }
}
@media (max-width: 1024px) {
  .wrapper .container {
    height: 450px;
    padding: 120px 60px 30px;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .wrapper__pic {
    left: 60px;
    top: -270px;
    max-width: 650px;
  }
  .wrapper__rigth {
    width: 400px;
  }
  .wrapper__title {
    font-family: Unbounded;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .wrapper__text {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .wrapper .container {
    max-width: 390px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .wrapper__pic {
    max-width: 450px;
    left: -25px;
    top: -100px;
  }
  .wrapper__left {
    padding: 10px 0px 0px;
  }
  .wrapper__title {
    font-family: Unbounded;
    font-weight: 800;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .wrapper__text {
    font-family: Unbounded;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .wrapper__subtitle {
    font-family: Unbounded;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .wrapper__subtext {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .wrapper__rigth {
    text-align: center;
    padding: 0px 0px;
    width: 200px;
  }
}
.content .container {
  padding: 120px 0px;
}

.content__title {
  font-family: Uchen;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0px;
}

.content__subtext {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0px 80px;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.content__box {
  width: 260px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.content__box:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 30px;
}

.content__element {
  position: absolute;
  background-color: #D4D4D4;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  right: 0;
  top: 0;
}

.content__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__text {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 20px 0px;
}

.content__subtitle {
  font-family: Unbounded;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0px;
}

@media (max-width: 1440px) {
  .content .container {
    padding: 80px 0px 300px;
    max-width: 1024px;
  }
  .content__list {
    justify-content: start;
  }
  .content__box {
    width: 240px;
  }
  .content__text {
    width: 170px;
  }
}
@media (max-width: 1024px) {
  .content .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .content .container {
    max-width: 390px;
    padding: 120px 0px;
  }
  .content__box {
    width: 180px;
    height: 130px;
  }
}
.aside .container {
  padding: 80px 80px;
  display: flex;
  justify-content: space-between;
  background-color: #236F48;
  border-radius: 30px;
  position: relative;
}

.aside__rigth {
  width: 450px;
}

.aside__title {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 40px 0px;
}

.aside__text {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 0px 0px;
}

.aside__subtitle {
  font-family: Unbounded;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 20px 0px;
}

.aside__subtext {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 0px 0px 40px;
}

.aside__link {
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #fff;
  padding: 10px 30px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12.47px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

.aside__link:hover {
  background-color: #464351;
  border: 2px solid #fff;
  color: #fff;
}

.aside__pic {
  position: absolute;
  left: 300px;
  top: -100px;
  width: 800px;
}

@media (max-width: 1440px) {
  .aside .container {
    max-width: 1024px;
    height: 550px;
    display: flex;
    align-items: end;
  }
  .aside__pic {
    top: -270px;
    left: 120px;
  }
}
@media (max-width: 1024px) {
  .aside .container {
    height: 450px;
    padding: 120px 60px 30px;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .aside__pic {
    left: 60px;
    top: -270px;
    max-width: 650px;
  }
  .aside__rigth {
    width: 400px;
  }
  .aside__title {
    font-family: Unbounded;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .aside__text {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .aside .container {
    max-width: 390px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .aside__pic {
    max-width: 450px;
    left: -25px;
    top: -100px;
  }
  .aside__left {
    padding: 10px 0px 0px;
  }
  .aside__title {
    font-family: Unbounded;
    font-weight: 800;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .aside__text {
    font-family: Unbounded;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .aside__subtitle {
    font-family: Unbounded;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .aside__subtext {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .aside__rigth {
    text-align: center;
    padding: 0px 0px;
    width: 200px;
  }
}
.sidebar .container {
  padding: 10px 0px 80px;
}

.sidebar__title {
  font-family: Unbounded;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px 20px;
}

.sidebar_text-name {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #A5A1A1;
  padding: 20px 0px 60px;
}

.sidebar__list {
  display: flex;
  justify-content: space-between;
}

.sidebar__item {
  width: 450px;
}

.sidebar__box {
  width: 400px;
  height: 220px;
  border-radius: 20px;
  overflow: hidden;
  background-color: yellow;
}

.sidebar__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.sidebar__element {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar__subtitle {
  font-family: Unbounded;
  font-weight: 700;
  font-size: 18.7px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 10px 0px 20px;
}

.sidebar__text-name {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #5B5A5A;
}

.sidebar__text {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.sidebar__subtext {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #616060;
}

@media (max-width: 1440px) {
  .sidebar .container {
    max-width: 1024px;
  }
  .sidebar__box {
    width: 325px;
    height: 200px;
  }
  .sidebar__item {
    width: 325px;
  }
}
@media (max-width: 1024px) {
  .sidebar .container {
    max-width: 768px;
  }
  .sidebar__box {
    width: 210px;
    height: 130px;
  }
  .sidebar__text {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .sidebar__subtext {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .sidebar__subtitle {
    font-family: Unbounded;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 230px;
  }
  .sidebar__text-name {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 230px;
  }
}
@media (max-width: 768px) {
  .sidebar .container {
    max-width: 390px;
  }
  .sidebar__list {
    flex-direction: column;
  }
  .sidebar__box {
    width: 390px;
    height: 220px;
  }
  .sidebar__text {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .sidebar__subtext {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .sidebar__subtitle {
    width: 370px;
    font-family: Unbounded;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .sidebar__text-name {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 360px;
    padding: 5px 0px 50px;
  }
}
.inner .container {
  padding: 90px 80px;
  display: flex;
  justify-content: space-between;
  background-color: #7F54B3;
  border-radius: 30px;
  position: relative;
}

.inner__rigth {
  width: 450px;
}

.inner__title {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 40px 0px;
}

.inner__text {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 0px 0px;
}

.inner__subtitle {
  font-family: Unbounded;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 20px 0px;
}

.inner__subtext {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff;
  padding: 0px 0px 40px;
}

.inner__link {
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #fff;
  padding: 10px 30px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12.47px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

.inner__link:hover {
  background-color: #464351;
  border: 2px solid #fff;
  color: #fff;
}

.inner__pic {
  position: absolute;
  left: 300px;
  top: -100px;
  width: 800px;
}

@media (max-width: 1440px) {
  .inner .container {
    max-width: 1024px;
    height: 550px;
    display: flex;
    align-items: end;
  }
  .inner__pic {
    top: -270px;
    left: 120px;
  }
}
@media (max-width: 1024px) {
  .inner .container {
    height: 450px;
    padding: 120px 60px 30px;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .inner__pic {
    left: 60px;
    top: -270px;
    max-width: 650px;
  }
  .inner__rigth {
    width: 400px;
  }
  .inner__title {
    font-family: Unbounded;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .inner__text {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .inner .container {
    max-width: 390px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .inner__pic {
    max-width: 450px;
    left: -25px;
    top: -100px;
  }
  .inner__left {
    padding: 10px 0px 0px;
  }
  .inner__title {
    font-family: Unbounded;
    font-weight: 800;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .inner__text {
    font-family: Unbounded;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .inner__subtitle {
    font-family: Unbounded;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .inner__subtext {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .inner__rigth {
    text-align: center;
    padding: 0px 0px;
    width: 200px;
  }
}
footer .container {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
}

.footer__box {
  width: 400px;
}
.footer__box .footer__text {
  padding: 40px 0px;
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(144, 141, 141, 0.8666666667);
}

.footer__menu .footer__title {
  font-family: Unbounded;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 5px 0px;
}
.footer__menu .footer__item {
  padding: 5px 0px;
}
.footer__menu .footer__link {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #4E4E4E;
}

address {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #4E4E4E;
}
address .footer__subtitle {
  font-family: Unbounded;
  font-weight: 700;
  font-size: 18.7px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
  padding: 10px 0px;
}
address .footer__link {
  color: #4E4E4E;
}

.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__form .footer__label {
  font-family: Unbounded;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 10px 0px 20px;
}
.footer__form .footer__element {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
  border-radius: 25px;
  border: 2px solid black;
}
.footer__form .footer__btn {
  padding: 20px 20px;
  border-radius: 20px;
  background-color: #FF0000;
  font-family: Inter;
  font-weight: 400;
  font-size: 12.78px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  border: 3px solid red;
}
.footer__form .footer__btn:hover {
  background-color: #fff;
  border: 3px solid red;
  color: #FF0000;
}
.footer__form .footer__input {
  padding-left: 5px;
  width: 260px;
  border: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  outline: none;
}
.footer__form .footer_label {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 30px 0px;
}

.footer__text-name {
  padding-left: 40px;
  font-family: Unbounded;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #545454;
}

.footer {
  background-color: #000000;
  display: flex;
  align-items: center;
}

@media (max-width: 1440px) {
  footer .container {
    max-width: 1024px;
    flex-wrap: wrap;
  }
  .footer__text-name {
    padding-left: 0px;
  }
}
@media (max-width: 1024px) {
  footer .container {
    max-width: 768px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  .footer__box {
    width: 50%;
  }
  .footer__menu {
    width: 20%;
  }
  .footer_label {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #4E4E4E;
  }
}
@media (max-width: 768px) {
  footer .container {
    max-width: 390px;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer__box {
    width: 390px;
  }
  .footer__text {
    width: 390px;
  }
  .footer__menu {
    width: 37%;
  }
  address {
    width: 62%;
    font-family: Unbounded;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .footer__element {
    padding-bottom: 60px;
    max-width: 100%;
  }
  .footer__form {
    text-align: center;
  }
  .footer__element {
    width: 100px;
  }
  .footer__btn {
    width: 100%;
  }
  .footer__input {
    width: 100%;
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .footer__pic {
    width: 100%;
  }
}
.main .container {
  padding: 120px 0px;
}

.main__title {
  font-family: Uchen;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0px;
}

.main__subtext {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0px 80px;
}

.main__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.main__box {
  width: 260px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.main__box:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 30px;
}

.main__element {
  position: absolute;
  background-color: #D4D4D4;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  right: 0;
  top: 0;
}

.main__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__text {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 20px 0px;
}

.main__subtitle {
  font-family: Unbounded;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0px;
}

@media (max-width: 1440px) {
  .main .container {
    padding: 80px 0px 80px;
    max-width: 1024px;
  }
  .main__list {
    justify-content: start;
  }
  .main__box {
    width: 240px;
  }
  .main__text {
    width: 170px;
  }
}
@media (max-width: 1024px) {
  .main .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .main .container {
    max-width: 390px;
  }
  .main__box {
    width: 180px;
    height: 130px;
  }
}/*# sourceMappingURL=style.css.map */